body {
	background-image: url('https://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Background1.jpg');
	background-size: cover;
}

div {
	color: white;
	font-size: 2vw;
}

#picture {
	width: 100%;
}