

html, body, .container {
	position: fixed;
	height: 100%;
	width: 100%;
}

body {
	font-size: 1.5vw;
}

.alert {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	position: inherit;
}

td {
	width: 50%;
}